# Trying out Jupyter Notebook

In [ ]:
print("Hello World!")

In [9]:
import time
time.sleep(3)
print("I am awake!")

I am awake!

In [6]:
def say_hello(recipient):
    return f'Hello, {recipient}'

say_hello('Tim')

Hello World!

# This is a level 1 heading

## This is a level 2 heading

This is some plain text that forms a paragraph. Add emphasis via **bold** and __bold__, or *italic* and _italic_.

Paragraph must be separated by an empty line.

* Sometimes we want to include lists.
* Which can be bulleted using asterisks.

    1. Lists can also be numbered.
    2. If we want an ordered list.

[It is possible to include hyperlinks](https://www.example.com)

Inline code uses single backticks: `foo()`, and code blocks use triple
backticks:
```
bar()
```
Or can be indented 4 spaces:
    foo()

And finally, adding images i s easy: ![Alt text](https://www.example.com/image.jpg)

In [10]:
import numpy as np
def square(x):
    return x*x

In [14]:
x = np.random.randint(1,10)
y = square(x)
print( f'{x} squared is {y}')

3 squared is 9

In [13]:
y = 10
print( f'Is {x} squared is {y}' )

Is 2 squared is 10




# Hands-On Lab: Tuples

### 1.   Creating Tuple

In [7]:
# Create your first tuple
tuple1 = ( "disco", 10, 1.2 )
tuple1 # This line will display the values of tuple1 with out print function

('disco', 10, 1.2)

In [3]:
# Print the type of the tuple you created
type(tuple1)

tuple

### 2.   Indexing

In [8]:
# Print the variable on each index
print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

disco
10
1.2

In [9]:
# print the type of value on each index
print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

<class 'str'>
<class 'int'>
<class 'float'>

In [10]:
# Use negative index to get the value of the last element
tuple1[-1]

1.2

In [11]:
# Use negative index to get the value of the second last element
tuple1[-2]

10

In [13]:
# Use negative index to get the value of the third last element. In this case first element
tuple1[-3]

'disco'

### 3.   Concatenate Tuples

In [14]:
# Concatenate two tuples
tuple2 = tuple1 + ( "hard rock", 10 )
tuple2

('disco', 10, 1.2, 'hard rock', 10)

### 4. Slicing

In [15]:
# Slice from index 0 to index 2
tuple2[0:3]

('disco', 10, 1.2)

In [16]:
# Slice from index 3 to index 4
tuple2[3:5]

('hard rock', 10)

In [17]:
# Get the Length of tuple
len(tuple2)

5

### 5. Sorting

In [18]:
# A sample tuple
Rating = ( 0, 9, 6, 5, 10, 8, 9, 6, 2 )

In [26]:
# Sort the tuple to a new list
RatingSorted = sorted(Rating)
RatingSorted
print( f"RatingSorted is type: {type(RatingSorted)}" )

RatingSorted is type: <class 'list'>

# Dictionary

In [2]:
# Create the dictionary
Dict = { "key1": 1, "key2": "2", "key3": [3,3,3], "key4":(4,4,4), ('key5'): 5, (0,1): 6 }
Dict

{'key1': 1,
 'key2': '2',
 'key3': [3, 3, 3],
 'key4': (4, 4, 4),
 'key5': 5,
 (0, 1): 6}

In [3]:
# Access to the value of the key
Dict["key1"]

1

In [4]:
# Access to the value with a tuple key
Dict[(0,1)]

6

In [5]:
# Create a sample dictionary
release_year_dict = {
    "Thriller" : "1982",
    "Back in Black" : "1980",
    "The Dark Side of the Moon" : "1973",
    "The Bodyguard" : "1992",
    "Saturday Night Fever" : "1977",
    "Rumours" : "1977"
}
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

In [6]:
# Get value by keys
release_year_dict["Thriller"]

'1982'

In [7]:
# Get value by key
release_year_dict["The Bodyguard"]

'1992'

In [8]:
# Get all the keys in dictionary
release_year_dict.keys()

dict_keys(['Thriller', 'Back in Black', 'The Dark Side of the Moon', 'The Bodyguard', 'Saturday Night Fever', 'Rumours'])

In [9]:
# Get all the values in dictionary
release_year_dict.values()

dict_values(['1982', '1980', '1973', '1992', '1977', '1977'])

In [10]:
# Append vlaue with key into dictionary
release_year_dict["Graduation"] = '2007'
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Saturday Night Fever': '1977',
 'Rumours': '1977',
 'Graduation': '2007'}

In [11]:
# Delete entries by key
del(release_year_dict['Thriller'])
del(release_year_dict['Graduation'])
release_year_dict

{'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

In [13]:
# Verify the key is in the dictionary
'The Bodyguard' in release_year_dict

True